<main data-v-c0abe93e="" id="myMain">
    <div data-v-cd0f8dee="" id="myContainer" data-v-c0abe93e="">
        <div data-v-faeb316a="" id="myLogin" data-v-cd0f8dee="">
            <h1 data-v-faeb316a="" class="" style="
    margin-right: 22rem;
    /* display: none; */
    font-size: 2rem;
    margin-bottom: -1rem;
">
                <div data-v-faeb316a="">
                    Join
                </div>
                Oak</h1>
            <div data-v-faeb316a="" id="collapseExample" class="alert alert-danger" style="display: none;">
                <br data-v-faeb316a="" style="display: none;">
            </div>
            <div data-v-faeb316a="" id="loginForm" class="">
                <hr data-v-faeb316a="">
                <form data-v-faeb316a="">
                    <div data-v-faeb316a="" style="
    margin-bottom: 1rem;
    /* margin: 0 auto; */
    margin-top: -2rem;
"><img data-v-faeb316a="" src="http://photo1-1251686254.file.myqcloud.com/oak_main.jpg" alt="" class="rounded-circle"
                            style="
    /* margin-bottom: 10px; */
    margin: 0 auto;
    display: block;
"></div>
                    <div data-v-faeb316a="" class="form-group"><input data-v-faeb316a="" type="text" id="username" placeholder="Username" class="form-control"></div>
                    <div data-v-faeb316a="" class="form-group"><input data-v-faeb316a="" type="password" id="password" placeholder="Password" class="form-control"></div>
                    <button data-v-faeb316a="" type="button" class="btn btn-primary">Join</button></form>
            </div>
        </div>
    </div>
</main>